body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#aboutUs_container{

}

#upcoming_container{

}
#specializaiton_container{

}

#studentPortfolio_container{

}
#blogs_container{

}

#contactUs_container{

}

#footer